{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}"/>       
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ titulo }}</title>
</head>
<body>
    <div class="container center">
        <h1>ERRO 404</h1>
        <h2>Página Não Encontrada</h2>
    </div>
</body>
</html>
