{% extends 'base.html' %}  
{% load static %}

{% block header %}
    <h1 class="brand-logo center">Olá, {{ paciente.nome }}!</h1>
    <ul class="right hide-on-small-only">
        <li><a href="{% url 'sair' %}" class="white-text"><i class="small material-icons">logout</i></a></li>
    </ul>
{% endblock %}            

{% block content %}
<div class="row center margin-topo">
    <div class="col s12 m3">
        <a href="{% url 'dados_pessoais' pk=paciente.pk %}">
            <div class="card white card-home">
                <div class="card-content black-text">
                <span class="card-title"><i class="medium material-icons">person</i></span>
                <p>Dados Pessoais</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col s12 m3">
        <a href="{% url 'evolucao' pk=paciente.pk %}">
            <div class="card white card-home">
                <div class="card-content black-text">
                <span class="card-title"><i class="medium material-icons">insert_chart</i></span>
                <p>Evolução</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col s12 m3">
        <a href="{% url 'plano_alimentar_atual' pk=paciente.pk %}">
            <div class="card white card-home">
                <div class="card-content black-text">
                <span class="card-title"><i class="medium material-icons">restaurant</i></span>
                <p>Plano alimentar</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col s12 m3">
        <a href="{% url 'lista_consulta' pk=paciente.pk %}">
            <div class="card white card-home">
                <div class="card-content black-text">
                <span class="card-title"><i class="medium material-icons">folder</i></span>
                <p>Consultas</p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row center margin-topo btn-sair hide-on-med-and-up">
    <a href="{% url 'sair' %}" class="waves-effect waves-light btn-large green darken-1">Sair</a>
</div>
{% endblock %}
