{% extends 'base.html' %}  
{% load static %}

{% block header %}
    <h1 class="brand-logo center">{{ titulo }}</h1>
    <ul>
        {% if group == 'admin' %}
            <li class="left"><a href="{% url 'lista_paciente' %}" title="voltar" class="white-text"><i class="material-icons">arrow_back_ios</i></a></li>
        {% endif %}
        {% if group == 'paciente' %}
            <li class="left"><a href="{% url 'mostra_home' pk=paciente.pk %}" title="voltar" class="white-text"><i class="material-icons">arrow_back_ios</i></a></li>
        {% endif %}
        <li class="right hide-on-small-only"><a href="{% url 'sair' %}" title="sair" class="white-text"><i class="material-icons">logout</i></a></li>
    </ul>
{% endblock %}

{% block content %}
    {% if group == 'admin' %}
        <div class="row margin-topo center">  
            <h6>paciente: {{ paciente.nome }}</h6>   
        </div>
    {% endif %}
    {% if not plano_alimentar %}
        <div class="row margin-topo center">
            <div class="col s12">
                {% if group == 'admin' %}
                    <p>Paciente não tem plano alimentar!</p>
                    <a href="{% url 'novo_plano_alimentar' pk=paciente.pk %}" class="btn green darken-1">Cadastrar Plano Alimentar</a>
                {% endif %}
                {% if group == 'paciente' %}
                    <p>Você ainda não tem plano alimentar!</p>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if plano_alimentar %}
    <div class="row margin-topo" id="dias">
        <div class="col s12">
            <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                <li class="tab"><a class="active" href="#Segunda">SEG</a></li>
                <li class="tab"><a href="#Terça">TER</a></li>
                <li class="tab"><a href="#Quarta">QUA</a></li>
                <li class="tab"><a href="#Quinta">QUI</a></li>
                <li class="tab"><a href="#Sexta">SEX</a></li>
                <li class="tab"><a href="#Sábado">SAB</a></li>
                <li class="tab"><a href="#Domingo">DOM</a></li>
            </ul>
        </div>
    </div>
    {% endif %}

    {% for pa in plano_alimentar %}
        <div class="row margin-bottom-zero margin-topo">
            <div class="col s6" id="{{ pa.dia_da_semana }}">
                <p class="negrito caixa_alta">{{ pa.dia_da_semana }}</p>
            </div>
            {% if group == 'admin' %}
                <div class="col s6">
                    <a href="{% url 'edita_plano_alimentar' pk=paciente.pk dia_da_semana=pa.dia_da_semana %}" class="btn-small right"><i class="material-icons">edit</i></a>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="collapsible">
                    <li class="active">
                        <div class="collapsible-header">Café da Manhã<i class="material-icons">expand_more</i></div>
                        <div class="collapsible-body"><span>{{ pa.cafe_da_manha }}</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header">Lanche da Manhã<i class="material-icons">expand_more</i></div>
                        <div class="collapsible-body"><span>{{ pa.lanche_da_manha }}</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header">Almoço<i class="material-icons">expand_more</i></div>
                        <div class="collapsible-body"><span>{{ pa.almoco }}</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header">Lanche da Tarde<i class="material-icons">expand_more</i></div>
                        <div class="collapsible-body"><span>{{ pa.lanche_da_tarde }}</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header">Jantar<i class="material-icons">expand_more</i></div>
                        <div class="collapsible-body"><span>{{ pa.jantar }}</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header">Ceia<i class="material-icons">expand_more</i></div>
                        <div class="collapsible-body"><span>{{ pa.ceia }}</span></div>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
    <div class="fixed-action-btn">
        <a href="#nav" class="btn-floating btn-large red"><i class="large material-icons">keyboard_arrow_up</i></a>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/collapsible.js' %}"></script>
    <script src="{% static 'js/tabs.js' %}"></script>
    <script src="{% static 'js/floatButton.js' %}"></script>
{% endblock %}
